@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-4">
			<!-- Column 1 Content -->
			<div class="card mb-4 shadow-sm">
				<img src="https://tse1.mm.bing.net/th?id=OIP.vggFhcDaZAZ0BLI1MKgUzgHaD-&pid=Api&P=0&h=220" class="card-img-top" alt="Image 1">
				<div class="card-body">
					<h5 class="card-title">Column Title 1</h5>
					<p class="card-text">This is a brief description of the content in column one.</p>
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Column 2 Content -->
			<div class="card mb-4 shadow-sm">
				<img src="https://tse1.mm.bing.net/th?id=OIP.vggFhcDaZAZ0BLI1MKgUzgHaD-&pid=Api&P=0&h=220" class="card-img-top" alt="Image 2">
				<div class="card-body">
					<h5 class="card-title">Column Title 2</h5>
					<p class="card-text">This is a brief description of the content in column two.</p>
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Column 3 Content -->
			<div class="card mb-4 shadow-sm">
				<img src="https://tse1.mm.bing.net/th?id=OIP.vggFhcDaZAZ0BLI1MKgUzgHaD-&pid=Api&P=0&h=220" class="card-img-top" alt="Image 3">
				<div class="card-body">
					<h5 class="card-title">Column Title 3</h5>
					<p class="card-text">This is a brief description of the content in column three.</p>
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Column 3 Content -->
			<div class="card mb-4 shadow-sm">
				<img src="https://tse1.mm.bing.net/th?id=OIP.vggFhcDaZAZ0BLI1MKgUzgHaD-&pid=Api&P=0&h=220" class="card-img-top" alt="Image 3">
				<div class="card-body">
					<h5 class="card-title">Column Title 3</h5>
					<p class="card-text">This is a brief description of the content in column three.</p>
					<a href="#" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</div>