@inherits LayoutComponentBase

<div class="container">
	<NavMenu />
</div>
<div id="body-content" class="content content-footer-spacing d-flex flex-column">
	<main class="flex-fill">
		<div class="container p-4">
			@Body
		</div>
	</main>
	<div class="mt-auto">
		<NavFooter />
	</div>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>