@inherits LayoutComponentBase

<div class="container">
	<NavMenu />
</div>

<main>
	<div class="container p-4">
		@Body
	</div>
</main>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>