main {
    flex: 1;
}

.flex-fill {
    background-color: #FFFFF0;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* css for desktops */
@media (min-width: 992px) {
    .content {
        margin-top: 60px; /* adjust based on the height of the fixed header */
        height: calc(100vh - 60px); /* full height minus header height */
        overflow-y: auto; /* enable scrolling */
    }
}

/* css for tablets */
@media (max-width: 991px) {
    .content {
        margin-top: 30px; /* adjust based on the height of the fixed header */
        height: calc(100vh - 30px); /* full height minus header height */
        overflow-y: auto; /* enable scrolling */
    }

    .content-footer-spacing {
        min-height: calc(100vh - 30px) !important;
    }
}