<footer class="bg-dark text-light pt-4">
	<div class="container px-4">
		<div class="row">
			<div class="col-6 col-lg-4">
				<h3 class="fw-bold">Bren Lius Portfolio</h3>
				<p class="pt-2">321, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="mb-2">+63 908 281 2524</p>
				@* <p>1234567890</p> *@
			</div>
			<div class="col">
				<h4>Menu</h4>
				<ul class="list-unstyled pt-2">
					<li class="py-1">Home</li>
					<li class="py-1">About</li>
					<li class="py-1">Contact Me</li>
				</ul>
			</div>
			<div class="col">
				<h4>More</h4>
				<ul class="list-unstyled pt-2">
					<li class="py-1">My Activities</li>
					<li class="py-1">Travels</li>
					<li class="py-1">Blog</li>
				</ul>
			</div>
			<div class="col">
				<h4>My Activities</h4>
				<ul class="list-unstyled pt-2">
					<li class="py-1">Attending concerts</li>
					<li class="py-1">Hiking</li>
					<li class="py-1">Running</li>
				</ul>
			</div>
			<div class="col-6 col-lg-3 text-lg-end">
				<h4>Social Media Links</h4>
				<div class="social-media pt-2">
					<a href="#" class="text-light fs-2 me-3"><i class="bi bi-facebook"></i></a>
					<a href="#" class="text-light fs-2 me-3"><i class="bi bi-pinterest"></i></a>
					<a href="#" class="text-light fs-2 me-3"><i class="bi bi-instagram"></i></a>
					<a href="#" class="text-light fs-2"><i class="bi bi-linkedin"></i></a>
				</div>
			</div>
		</div>
		<hr>
		<div class="d-sm-flex justify-content-between py-1">
			<p>2025 © Bren Lius Portfolio. All Rights Reserved. </p>
			<p>
				<a href="#" class="text-light text-decoration-none pe-4">Terms of use</a>
				<a href="#" class="text-light text-decoration-none"> Privacy policy</a>
			</p>
		</div>
	</div>
</footer>

@code {

}
