.navbar {
    background-image: linear-gradient(180deg, rgb(224, 247, 250) 0%, #B3E5FC 70%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Bebas Neue';
}

.nav-item ::deep .nav-link {
    color: #003366;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

    .dropdown-menu ::deep .dropdown-item {
        color: #003366;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.navbar-brand {
    color: #003366;
    font-size: 1.1rem;
}

/* css for desktops */
@media (min-width: 992px) {
    .navbar {
        --bs-navbar-padding-y: 1.25rem;
        /*border-bottom: 1px solid #00000040;*/
    }

    .dropdown-menu {
        --bs-border-radius: 0rem;
        background-color: #FFFFF0;
    }
}

/* css for tablets */
@media (max-width: 991px) {
    .navbar {
        /*border-bottom: 0.5px solid #00000040;*/
    }

    .dropdown-menu {
        --bs-dropdown-border-color: transparent;
        --bs-dropdown-bg: transparent;
        --bs-dropdown-padding-y: 0;
    }
}
