<nav class="navbar navbar-expand-lg bg-light fixed-top">
	<div class="container">
		<a class="navbar-brand fw-bold" href="#">BREN LIUS ADVENTURES</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about">ABOUT</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">MY ACTIVITIES</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">ATTENDING CONCERTS</a></li>
						<li><a class="dropdown-item" href="#">HIKING</a></li>
						<li><a class="dropdown-item" href="#">RUNNING</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="travels">TRAVELS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="blog">BLOG</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contactme">CONTACT ME</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
